{% extends "base.html" %}
{% include "messages.html" %}
{% block content %}
    <div class="confirm-signup">
        <form method="post">
            <h2>Please confirm your registration</h2>
            <p class="hint-text">We just sent you a confirm code to your email</p>
            <div class="form-group">
                <input type="text" class="form-control input-lg" name="confirm_code" placeholder="Code" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block signup-btn">Submit</button>
            </div>

        </form>
    </div>
{% endblock %}